@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0; 
    background: rgba(100, 139, 206, 0.824);
    font-family: 'Montserrat', sans-serif;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.other-options-onsite{
    padding: 1rem;
}

button{
    font-size: 1.2rem;
    width: 150px;
    height: 75px;
    border: 0;
    outline: none;
    background: whitesmoke;
    color: rgb(14, 14, 132);
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px black;
    
}

button hover{
    color: rgb(0, 0, 0);
}

.everything {
    text-align:  center;
}

.home-page-sidebar-navigation .sidebar{
    border: 30px solid rgb(34, 74, 160);
    background: rgb(76, 118, 209);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
    

}