@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0; 
    background: rgba(100, 139, 206, 0.824);
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: 2rem;
    line-height: 1.6rem ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.everything {
    text-align:  center;
}

.home-page-sidebar-navigation .sidebar{
    background: rgb(34, 74, 160);
    position: fixed;
    top: 0;
    right: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease-in-out;

}