@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0; 
    background: rgba(100, 139, 206, 0.824);
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: 2rem;
    line-height: 1.6rem ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.everything {
    text-align:  center;
}